In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mlp

In [1]:
df = sns.load_dataset('titanic')

NameError: name 'sns' is not defined

In [6]:
df = pd.read_csv("ca_anaheim_2020_04_01.csv")

In [7]:
df.head()

   raw_row_number        date       type         reason_for_stop
0               1  2012-01-01  vehicular  TRAFFIC STOP/NO BACKUP
1               2  2012-01-01  vehicular  TRAFFIC STOP/NO BACKUP
2               3  2012-01-01  vehicular  TRAFFIC STOP/NO BACKUP
3               4  2012-01-01  vehicular  TRAFFIC STOP/NO BACKUP
4               5  2012-01-01  vehicular  TRAFFIC STOP/NO BACKUP

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87876 entries, 0 to 87875
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   raw_row_number   87876 non-null  int64
 1   date             87876 non-null  object
 2   type             87876 non-null  object
 3   reason_for_stop  87876 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB

In [9]:
df.shape

(87876, 4)

In [11]:
df.columns

Index(['raw_row_number', 'date', 'type', 'reason_for_stop'], dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87876 entries, 0 to 87875
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   raw_row_number   87876 non-null  int64
 1   date             87876 non-null  object
 2   type             87876 non-null  object
 3   reason_for_stop  87876 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB