In [ ]:
conda install sklearn.externals.six

In [3]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve, roc_auc_score
from six import StringIO
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [6]:
data = pd.read_csv("winequality_red.csv")
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [7]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [8]:
X = data.drop(columns = 'quality')
y = data['quality']

In [9]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.30, random_state= 355)

In [10]:
#let's first visualize the tree on the data without doing any pre processing
clf = DecisionTreeClassifier( min_samples_split= 2)
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [11]:
# accuracy of our classification tree
clf.score(x_test,y_test)

0.6041666666666666

In [12]:
#let's first visualize the tree on the data without doing any pre processing
clf2 = DecisionTreeClassifier(criterion = 'entropy', max_depth =24, min_samples_leaf= 1)
clf2.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=24)

In [13]:
clf2.score(x_test,y_test)

0.61875

In [14]:
rand_clf = RandomForestClassifier(random_state=6)

In [15]:
rand_clf.fit(x_train,y_train)

RandomForestClassifier(random_state=6)

In [16]:
rand_clf.score(x_test,y_test)

0.6708333333333333

In [17]:
# we are tuning three hyperparameters right now, we are passing the different values for both parameters
grid_param = {
    "n_estimators" : [90,100,115,130],
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,20,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'max_features' : ['auto','log2']
}

In [18]:
grid_search = GridSearchCV(estimator=rand_clf,param_grid=grid_param,cv=5,n_jobs =-1,verbose = 3)

In [ ]:
grid_search.fit(x_train,y_train)

Fitting 5 folds for each of 20736 candidates, totalling 103680 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:   10.2s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:   19.4s
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:   32.5s
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:   49.8s
[Parallel(n_jobs=-1)]: Done 1136 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 2032 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 2576 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 3184 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 3856 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done 4592 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 5392 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 6256 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 7184 tasks      | elapsed:  8.3min
[Parallel(n_jobs=-1)]: Done 8176 tasks      | elapsed:  9.4min
[Parallel(n_jobs=-1)]: Done 9232 tasks      | elapsed: 10.5min
[Parallel(n_jobs=-1)]: Done 10352 tasks      | elapsed: 12.1min
[Parallel(n_jobs=-1)]: Done 11536 tasks      | elapsed: 13.9min
[Parallel(n_jobs=-1)]: Done 12784 tasks      | elapsed: 15.8min
[Parallel(n_jobs=-1)]: Done 14096 tasks      | elapsed: 17.8min
[Parallel(n_jobs=-1)]: Done 15472 tasks      | elapsed: 20.0min
[Parallel(n_jobs=-1)]: Done 16912 tasks      | elapsed: 22.3min
[Parallel(n_jobs=-1)]: Done 18416 tasks      | elapsed: 24.1min
[Parallel(n_jobs=-1)]: Done 19984 tasks      | elapsed: 26.2min
[Parallel(n_jobs=-1)]: Done 21616 tasks      | elapsed: 28.4min
[Parallel(n_jobs=-1)]: Done 23312 tasks      | elapsed: 30.8min
[Parallel(n_jobs=-1)]: Done 25072 tasks      | elapsed: 33.8min
[Parallel(n_jobs=-1)]: Done 26896 tasks      | elapsed: 36.6min
[Parallel(n_jobs=-1)]: Done 28784 tasks      | elapsed: 39.2min
[Parallel(n_jobs=-1)]: Done 30736 tasks      | elapsed: 42.9min
[Parallel(n_jobs=-1)]: Done 32752 tasks      | elapsed: 45.9min
[Parallel(n_jobs=-1)]: Done 34832 tasks      | elapsed: 49.0min