In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
market_cap = pd.read_csv("https://raw.githubusercontent.com/PacktPublishing/Web-Development-with-Django/master/Chapter13/Exercise13.01/market_cap.csv")

In [3]:
market_cap

       id stock_symbol market_cap
0       1        HOTRW        NaN
1       2         MSFG   $861.23M
2       3         CERC     $7.18M
3       4         BOOT   $184.25M
4       5          PMO      $481M
..    ...          ...        ...
995   996         TCBI     $3.85B
996   997       AFSI^A        NaN
997   998          TY^        NaN
998   999         QABA   $388.89M
999  1000         GOOS   $475.23M

[1000 rows x 3 columns]

In [4]:
market_cap.to_csv('market_cap.csv', index=False)
print("Successfully Submitted !")

Successfully Submitted !

In [5]:
market_cap.isnull().sum()

id                0
stock_symbol      0
market_cap      155
dtype: int64

In [6]:
market_cap.mean()

id    500.5
dtype: float64

In [7]:
market_cap.median()

id    500.5
dtype: float64

In [8]:
null = market_cap.std()

In [9]:
market_cap.mode()

       id stock_symbol market_cap
0       1          BIT     $1.15B
1       2           BK        NaN
2       3          CGG        NaN
3       4         SRCL        NaN
4       5          NaN        NaN
..    ...          ...        ...
995   996          NaN        NaN
996   997          NaN        NaN
997   998          NaN        NaN
998   999          NaN        NaN
999  1000          NaN        NaN

[1000 rows x 3 columns]

In [13]:
market_cap.fillna(market_cap.mean(),inplace=True)

In [14]:
market_cap

       id stock_symbol market_cap
0       1        HOTRW        NaN
1       2         MSFG   $861.23M
2       3         CERC     $7.18M
3       4         BOOT   $184.25M
4       5          PMO      $481M
..    ...          ...        ...
995   996         TCBI     $3.85B
996   997       AFSI^A        NaN
997   998          TY^        NaN
998   999         QABA   $388.89M
999  1000         GOOS   $475.23M

[1000 rows x 3 columns]